body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #C3002F;
  padding: 30px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  color: white;
}

.weather-list {
  margin: 20px auto;
  width: 40%;
}

.weather-element {
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 10px 0;
}

.tooltip {
  position: absolute;
  padding: 3px;
  font-size: 12px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: left;
}

.temperature {
  cursor: default;
}

.info {
  color: rgba(95, 95, 95, 0.51);
  font-weight: bold;
}


.weather-search {
  margin: 20px auto;
  width: 40%;
  text-align: center;

  label {
    font-weight: bold;
    margin-right: 20px;
  }

  button, input {
    font-size: inherit;
    font-family: inherit;
  }

  input {
    padding: 3px 5px;
    outline: none;
    width: 50%;
    margin-right: 20px;
  }

  button {
    background-color: #2ecc71;
    border: none;
    padding: 4px 8px;
    box-shadow: 1px 1px 1px #95a5a6;
    cursor: pointer;
    color: white;
  }

  button:hover {
    background-color: #27ae60;
  }
}

@media screen and (max-width: 768px) {
  .weather-list {
    width: 80%;
  }
}