<section class="weather-search">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="city">City</label>
        <input ngControl="location" type="text" id="city" (input)="onSearchLocation(input.value)" required #input>
        <button type="submit">Add</button>
        <div>
            <span class="info">City found:</span> {{data.name}}
        </div>
    </form>
</section>
