<article class="weather-element">
    <div class="col-1">
        <h3>{{weatherItem.cityName}}</h3>
        <p class="info">{{weatherItem.desc}}</p>
    </div>
    
    <div class="col-2">
        <span class="temperature">{{weatherItem.temperature}} C°</span>
    </div>
</article>